<div id="devise_header">RESEND CONFIRMATION</div>

<br />
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.email_field :email, autofocus: true, placeholder: "ENTER YOUR EMAIL" %></div>
	<br />
  <div><%= f.submit "RESEND" %></div>
<% end %>

<br />

<center><%= render "devise/shared/links" %></center>
